@media screen and (min-width:480px){
	html,body{
		background-color: #eee;
		font-family: "游ゴシック体", "Yu Gothic", YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
		color: #222;
		font-size: 20px;
		margin:0;
		width: 100%;
		height: 100%;
	}
	a{
		color: #222;
	}
	section{
		overflow-x: hidden;
		padding: 50px;
		margin: 0;
		position: relative;
	}
	.menu{
		margin-top: 0;
		width: 100%;
		list-style: none;
		overflow: hidden;
		position: fixed;
		background-color: rgba(248,248,248,0.6);
		height: 65px;
		z-index: 9999;
		box-shadow:0 3px 5px rgba(0,0,0,0.4);
	}
	.menu li{
		float: left;
		margin:5px;
		border-bottom: 2px solid #444;
	}
	.menu li a{
		font-size: 20px;
		display: block;
		padding:10px 15px;
		text-decoration: none;
	}
	.subtitle{
		font-size:45px;
		font-weight: 500;
	}
	#title{
		text-align: center;
		font-size: 100px;
		position: absolute;
		top:50%;
		width: 100%;
		line-height: 65px;
		font-weight: normal;
		margin: 0;
		color:white;
		text-shadow: 0px 0px 15px rgba(0,0,0,.5);
	}
	#top{
		width: 100%;
		height:100%;
		padding:125px 30px 75px;
		background-image:url(./S__27664386.jpg);
		background-size:cover;
		box-sizing: border-box;
		position: relative;
	}

	.fa.topDown{
		text-align: center;
		position: absolute;
		font-size: 40px;
		bottom: 40px;
		width: 100%;
	}
	#Copyright{
		font-size: 20px;
	}
}